body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr;
}

nav {
    width: 100vw;
    padding: 20px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library {
    background-color: antiquewhite;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}